<div class="message clearfix" data-tweet-id="<%= tweet.id %>" >
  <%= image_tag('imo.jpg') %>
  <div class="message_box">
    <p class="user_name">
      <%= link_to tweet.user.nickname, "/users/#{tweet.user_id}" %>
    </p>
    <p class="text">
      <%= simple_format(tweet.text) %>
    </p>
  </div>
  <div class="float-link">
      <ul>
        <li>
          <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
        </li>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          </li>
        <% end %>
      </ul>
  </div>

  <a href="/tweets/<%= tweet.id %>" class="comment-count"><i class="material-icons left">message</i><%= tweet.comments.count %></a>
  <!--<div class="right">
    <%= tweet.created_at %>
  </div>-->
</div>